{% extends 'devserver/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Taxi Log {% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <a class="btn btn-primary btn-sm" href="{% url 'admin_dashboard:admin_dashboard_view' %}">Back</a>

        <hr>

        <div class="card">

            <div class="card-header">
                <h3>Taxi Log for {{ username|title }}</h3>
            </div>
    
            <div class="card-body">
    
                <table class="table table-striped">
                    <thead class="thead-dark"> 
                        <tr>
                            <th>Request Log ID</th>
                            <th>Order Number</th>
                            <th>Confirmation Number</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>

                    {% for order in object_list %}

                        <tr>
                            <td>{{ order.request_log_id }}</td>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.confirmation_number }}</td>
                            <td>{{ order.date_created }}</td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td>No Current Orders</td>
                        </tr>
                    {% endfor %}


                </table>
    
            </div>
    
        </div>

    </div>
{% endblock %}
