{% extends 'devserver/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Delete {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block body %}

    <br>
    <div class="container" id="file-upload-card">

        <div class="card" id="file-upload-card">

            <div class="card-header">
                <h3><strong>Delete File</strong></h3>
            </div>

            <div class="card-body">
                <form action="{% url 'file_upload:delete_file' slug=file.slug %}" method="POST">

                    {% csrf_token %}
                    <h3>Are you sure you want to delete {{ file.file_name }}?</h3>
                    
                    <hr>
                    <h5><strong>File Details</strong></h5>
                    <p>File Name: {{ file.file_name }}.exe</p>
                    <p>File Path: {{ file.uploaded_file.path }}</p>
                    <p>Upload Date: {{ file.upload_date }}</p>
                    <p>Version: {{ file.version }}</p>

                    <hr>
                    <input class="btn btn-danger" type="submit" value="Delete">
                    <a class="btn btn-warning" href="{% url 'file_upload:file_list' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}